<header class="ngco-events-header mat-elevation-z1 mat-typography">
  <h1 class="headline">Nuestros eventos</h1>
</header>
<mat-tab-group class="ngco-events-tabs-container mat-elevation-z1 mat-typography">
  <mat-tab label="Pr&oacute;ximos">
    <div class="tab-content">
      <div *ngIf="!upcomingEvents || upcomingEvents.length<1" class="mat-elevation-z1 ngco-events-item-box">
        <h1>No hay eventos pr&oacute;ximos.</h1>
      </div>
      <div *ngFor="let item of upcomingEvents" class="mat-elevation-z1 ngco-events-item-box">
        <h3>{{item.name}}</h3>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Pasados">
    <div class="tab-content mat-typography">
      <div *ngIf="!pastEvents || pastEvents.length<1" class="mat-elevation-z1">
        <h1>No hay eventos pasados.</h1>
      </div>
      <div class="events-list-items-box">
        <div *ngFor="let item2 of pastEvents" class="mat-elevation-z1 ngco-events-item-box">
          <h3>{{item2.name}}</h3>
          <div class="item-bottom-detail">
            <span class="caption item-date">{{item2.created | relativeDate}}</span>
            <span class="caption item-comments" *ngIf="item2.comment_count && item2.comment_count>0">
              |&nbsp;{{item2.comment_count}}&nbsp;comentario{{item2.comment_count>1?'s':''}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>