/* mobile first*/
header.ngco-events-header {
  background: #fbfbfb;
  text-align: center;
  min-height: 72px;
  margin: 54px 0 0 0;
  margin-bottom: 10px;
  padding: 5px 0 0 0;
}

header.ngco-events-header * {
  font-family: 'lato',sans-serif;
}

header.ngco-events-header>h1 {
  font-size: 32px;
  color: #333;
  line-height: 32px;
  padding: 10px;
}

.ngco-events-tabs-container {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  border: 1px solid #e9e9e9;
}

.ngco-events-tabs-container * {
  font-family: 'lato', sans-serif !important;
}

.ngco-events-tabs-container /deep/ .mat-tab-label {
  font-family: 'lato', sans-serif !important;
  height: 36px;
}

.ngco-events-tabs-container /deep/ .mat-tab-header-pagination{
  display:none;
}
.ngco-events-tabs-container /deep/ div.tab-content {
  padding: 16px;
  min-height: 320px;
}