header
  background-color #22283A
  color #CDDED2
  display flex
  justify-content space-between

  &>.app-header
    &>h1
      margin-left 0.4em
      font-size 88px
      position absolute

  &>.next-event-widget-container
    margin-right 1em 
    padding 0.5em 
    width 30%