header
  background-color #22283A
  color #CDDED2
  display flex
  flex-direction column  

  &>.app-header
    &>h1
      margin-left 0.4em
      font-size 88px

  &>.next-event-widget-container
    margin-right 1em 
    padding 0.5em
    margin 0 2em  0 2em
    