.login-container
  background-color #1a1f2d
  display flex
  justify-content space-between
  padding 0.5em
  align-items center

  &>.login-controls
    justify-content flex-end
    display flex
    flex-direction row
    align-items center

    &>.user-name
      color #cdded2
      padding-right 1em


.beta-badge
  background-color #f944aa
  color #f3f5f3
  border-radius 3px
  padding 3px 9px 3px 9px
  text-decoration none
  &:visited
    background-color #f944aa
    color #f3f5f3