<div class="login-container">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" [ngClass]="{'navbar-shrink': isScroll === true}">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" routerLink="/">
        <img width="45px" src="assets/logos/angular-colombia.jpeg" class="img-circle" alt="User Image">
        Angular Colombia
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Artículos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Acerca</a>
          </li>
          <li class="nav-item" *ngIf="!user">
            <a class="btn btn-primary" (click)="login()" >Login</a>                          
          </li>
          <li class="nav-item" *ngIf="user">            
              <img [src]="user?.photoURL" class="user-image" alt="User Image">              
          </li>
          <li class="nav-item" *ngIf="user">            
              <a class="nav-link js-scroll-trigger">{{user?.displayName}}</a>              
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="btn btn-primary" (click)="logout()" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  
</div>
