div.not-found-container mat-card{
  margin: 0 auto;
  margin-top: 45px;
  width: 260px;
  text-align:center;
}

/* big screens*/

@media (min-width: 640px) and (min-height: 1000px){
  div.not-found-container{
    min-height: 88vh !important;
  }
}

@media (min-width: 640px) and (min-height: 1000px) and (orientation : landscape) {
  div.not-found-container{
    min-height: 88vh !important;
  }
}

@media (min-width: 640px) and (min-height: 768px) and (max-height: 1000px) and (orientation : landscape){
  div.not-found-container{
    min-height: 84vh !important;
  }
}

@media (min-height: 1000px) and (orientation : portrait){
	div.not-found-container{
		min-height: 85vh !important;
	}	
}

@media(min-width:640px) and (orientation : portrait) {
  div.not-found-container mat-card{
    width: 440px;
  }
  div.not-found-container{
    min-height: 83vh;
  }
}