div.not-found-container mat-card{
  margin: 0 auto;
  margin-top: 45px;
  width: 260px;
  text-align:center;
}

/* big screens*/
@media(min-width:640px) {
  div.not-found-container mat-card{
    width: 440px;
  }
  div.not-found-container{
    min-height: 83vh;
  }
}
