/* mobile first*/
header.ngco-event-info-header{
    background: #fbfbfb;
    text-align:center;
    min-height: 150px;
    margin: 56px 0 0 0;
    margin-bottom:20px;
    padding: 5px 0 0 0;
}


div.ngco-event-data-wrapper{
    margin:0 auto;
    width: 300px;
}

section.ngco-event-info-content{
    margin: 80px 0px 0px 0px;
}

header.ngco-event-info-header *{
    font-family:'lato',sans-serif;
}

div.ngco-event-title-box span.caption{
    font-size:12px;
    color:#999;
    text-align:left;
    width:100%;
    display:block;
    padding: 5px;
    margin-top:5px;
}

div.ngco-event-title-box>div[fxFlex]>h1{
    text-align: left;
    color: #333;
    line-height: 24px;
}

div.ngco-event-title-box>div[fxFlex]{
    margin:0 auto;
    width:280px;
}