<section class="ngco-login-container ngco-page-container">
  <div class="container" style="text-align:center; width:400px;margin:0 auto;">
     <form class="ngco-login-form">
        <div class="login-normal">
          <mat-form-field>
            <input matInput placeholder="Correo electr&oacute;nico" type="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Contrase&ntilde;a" type="password">
          </mat-form-field>
        </div>
        <hr>
        <h5>O ingresa usando ...</h5>
        <div class="social-auth-buttons">
          <ul>
            <li class="login-facebook"><a href="/" class="mat-button">Facebook</a></li>
            <li class="login-plus"><a href="/" class="mat-button">Google+</a></li>
          </ul>
        </div>
      </form>
  </div>
</section>
