.ngco-login-container{
 margin:0 auto;
}

section.ngco-login-container {
    min-height: 200px;
    padding: 20px;
    z-index: -100;
    position: relative;
}

.ngco-login-container md-card{width: 280px;}
