<app-header></app-header>
<div class="ngco-container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.sm="0px">
      <span fxFlex>&copy;&nbsp;{{currentYearInFooter}}&nbsp;AngularColombia.</span>
      <span>C&oacute;digo licenciado bajo <a href="#">MIT</a></span>
      <span>Documentaci&oacute;n bajo <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0</a>.</span>
    </div>
  </div>
</footer>
