* {
    font-family: 'Lato', sans-serif !important;
    font-size: 1em !important;
}
app-header {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
}
div.ngco-container {
    margin: 56px 0px 0px 0px;
    min-height: 74vh;
}
footer {
    text-align: center;
    font-size: 13px !important;
    background: #333;
    color: #fff;
    padding: 25px;
    margin-top: 25px;
}

footer span {
    text-align: start;
}
footer span a {
    text-decoration: none;
    color: #f6f6f6;
    font-weight: bold;
}
footer span a:hover {
    color: #fff;
}
.ngco-page-container {
    width: 280px;
    margin: 0 auto;
}
/* media query for screens with width between 320 and 360 pixels */

/*@media(min-width:320px) and (max-width:360px) {
    .ngco-page-container {
        width: 320px;
    }
}*/
@media(min-width:640px) {
    .ngco-page-container {
        width: 1137px;
    }
}
