/*header showcase*/

header.ngco-welcome-showcase {
    background-image: url('../../../assets/images/welcome_bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: -56px 0px 0px 0px;
    z-index: -100;
    position: relative;
}
header.ngco-welcome-showcase > mat-card {
    width: 75%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}
header.ngco-welcome-showcase > mat-card>mat-card-content {
    text-align: center;
}
header.ngco-welcome-showcase > mat-card>mat-card-content>h4,
header.ngco-welcome-showcase > mat-card>mat-card-content>h6 {
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
    color: #fff;
    font-size: 1.2em;
}
header.ngco-welcome-showcase > mat-card>mat-card-content>h6 {
    font-weight: normal;
    margin-top: 5px;
}
header.ngco-welcome-showcase > mat-card>mat-card-actions>button {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #f9f9f9;
}
/*information sections */

section.ngco-welcome-info {
    min-height: 200px;
    padding: 20px;
    z-index: -100;
    position: relative;
}
section.ngco-info-events {
    background: #f9f9f9;
}
/*community*/

.ngco-info-community>.container>div.row {
    width: auto;
}
/*big screens*/

@media(min-width:640px) {
    header.ngco-welcome-showcase > mat-card {
        width: 440px;
    }
    header.ngco-welcome-showcase > mat-card>mat-card-content>h4,
    header.ngco-welcome-showcase > mat-card>mat-card-content>h6 {
        font-size: 2em;
    }
    .ngco-info-community .container {
        width: 1160px;
        margin: 0 auto;
    }
}
