<header class="ngco-welcome-showcase mat-elevation-z1">
  <mat-card>
    <mat-card-content>
      <h4>¿Est&aacute;s en Colombia?</h4>
      <h4>¿Quieres aprender Angular?</h4>
      <h6>¡Este grupo es para ti!</h6>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">Conoce m&aacute;s</button>
      <button mat-raised-button color="accent" routerLink="/eventos">Ver eventos</button>
    </mat-card-actions>
  </mat-card>
</header>
<section class="ngco-welcome-info mat-elevation-z1">
  Acerca de la comunidad
</section>
<br/>
