<header class="ngco-welcome-showcase mat-elevation-z1">
  <mat-card class="mat-elevation-z1">
    <mat-card-content>
      <h4>¿Est&aacute;s en Colombia?</h4>
      <h4>¿Quieres aprender Angular?</h4>
      <h6>¡Este grupo es para ti!</h6>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">Conoce m&aacute;s</button>
      <button mat-raised-button color="accent">Ver eventos</button>
    </mat-card-actions>
  </mat-card>
</header>
<section class="ngco-welcome-info ngco-page-container ngco-info-community">
  <div class="container">
    <div class="row" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.sm="0px" >
      <mat-card>
        <mat-card-header>
          <mat-card-title><b>Quienes somos</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title><b>Que hacemos</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
<section class="ngco-welcome-info ngco-info-events">

</section>
