<section class="ngco-welcome-showcase">
  <mat-card class="ngco-welcome-message">
    <mat-card-content>
      <h4>¿Est&aacute;s en Colombia?</h4>
      <h4>¿Quieres aprender Angular?</h4>
      <h6>¡Este grupo es para ti!</h6>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/comunidad">Conoce m&aacute;s</button>
      <button mat-raised-button color="accent" routerLink="/eventos">Ver eventos</button>
    </mat-card-actions>
  </mat-card>
</section>
<section class="ngco-welcome-info containerX mat-typography">
  <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
    <div fxFlex class="mat-elevation-z1">
      <h1>Acerca de la comunidad</h1>
      <p class="body-1">Somos un grupo de desarolladores Web, con especialidad en trabajo con Angular en Colombia. Nos reunimos cada mes para aprender nuevas cosas y hablar de desarrollo web, as&iacute; como para poder compartir informaci&oacute;n o buscar ayuda de forma m&aacute;s f&aacute;cil.</p>
      <button class="ngco-welcome-button-more-community" mat-raised-button color="primary" routerLink="/comunidad">Conoce m&aacute;s</button>
      <h2>Temas relacionados</h2>
      <mat-chip-list aria-orientation="horizontal">
          <mat-chip *ngFor="let topic of topics">{{topic}}</mat-chip>
      </mat-chip-list>
    </div>
    <div fxFlex class="mat-elevation-z1">
      <h1 class="display-4">Eventos</h1>
    </div>
  </div>
</section>