$fonts-text = 'Open Sans', 'Helvetica Neue', Arial, sans-serif
$color-background = #868e96
$color-background-o = #212529

header
    &.masthead
        margin-bottom 50px
        background no-repeat center center
        background-color $color-background
        background-attachment scroll
        position relative
        -webkit-background-size cover
        -moz-background-size cover
        -o-background-size cover
        background-size cover
        background-image: url("../../../../assets/backgrounds/event-image.png");

header
    &.masthead
        .overlay
            position absolute
            top 0
            left 0
            height 100%
            width 100%
            background-color $color-background-o
            opacity .5

header
    &.masthead
        .site-heading
            h1
                font-size 80px
                color #fff

header.masthead .page-heading, header.masthead .site-heading
    text-align center
    padding 100px 0;

header.masthead .page-heading .subheading, header.masthead .site-heading .subheading

        font-size 24px
        font-weight 300
        line-height 1.1
        display block
        margin 10px 0 0
        font-family $fonts-text
        color #fff
