<form (ngSubmit)="setUserDocument()" name="missingData" *ngIf="!userData.document" #missingDataForm="ngForm">
  <input type="text" name="idNumber" [(ngModel)]="document.number" autofocus>
  <select name="documentType" [(ngModel)]="document.type">
    <option value="cc">Cédula de Ciudadanía</option>
    <option value="ce">Cédula de extranjería</option>
    <option value="pp">Pasaporte</option>
    <option value="tarjeta de identidad">Tarjeta de Identidad</option>
  </select>
  <button type="submit">Enviar</button>
</form>
