/* You can add global styles to this file, and also import other style files */
$color-primary = #f90000
$color-primary-hover = #b70000
$color-primary-shadow = rgba(240, 95, 64, 0.5)
$color-selected = #ffffff
$color-hover = #f05f40
$color-dark = #212529
$color-faded = rgba(255, 255, 255, 0.7)

$fonts-body = 'Merriweather', 'Helvetica Neue', Arial, sans-serif
$fonts-text = 'Open Sans', 'Helvetica Neue', Arial, sans-serif

body,
html
    width 100%
    height 100%

body
    font-family $fonts-body

hr
    max-width 50px
    border-width 3px
    border-color $color-primary
    &.light
        border-color $color-selected

a
    color $color-primary
    -webkit-transition all 0.2s
    -moz-transition all 0.2s
    transition all 0.2s
    &:hover
        color $color-hover

h1,
h2,
h3,
h4,
h5,
h6
    font-family $fonts-text

.bg-primary
    background-color $color-primary 

.bg-dark
    background-color $color-dark

.text-faded
    color $color-faded

section {
  padding: 8rem 0; }

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: $color-selected;
  background: $color-dark;
  text-shadow: none; }

::selection {
  color: $color-selected;
  background: $color-dark;
  text-shadow: none; }

img::selection {
  color: $color-selected;
  background: transparent; }

img::-moz-selection {
  color: $color-selected;
  background: transparent; }

body {
  -webkit-tap-highlight-color: $color-dark; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: $fonts-text;
  color: $color-selected; }

.btn-xl {
  padding: 1rem 2rem; }

.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: $color-selected;
    background-color: $color-primary-hover; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem $color-primary-shadow; }